<h1 class="page-header">Admin</h1>
<h2 class="sub-header">Users</h2>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <tr scope="row">
            <th role="button" ng-click="model.sort('username')" id="dark-th"><span ng-show="model.isSortedBy == 'username' && model.sortAsc" class="glyphicon glyphicon-triangle-top"></span><span ng-show="model.isSortedBy == 'username' && (!model.sortAsc)" class="glyphicon glyphicon-triangle-bottom"></span> Username</th>
            <th>Password</th>
            <th role="button" ng-click="model.sort('firstName')"><span ng-show="model.isSortedBy == 'firstName' && model.sortAsc" class="glyphicon glyphicon-triangle-top"></span><span ng-show="model.isSortedBy == 'firstName' && (!model.sortAsc)" class="glyphicon glyphicon-triangle-bottom"></span> First Name</th>
            <th role="button" ng-click="model.sort('lastName')"><span ng-show="model.isSortedBy == 'lastName' && model.sortAsc" class="glyphicon glyphicon-triangle-top"></span><span ng-show="model.isSortedBy == 'lastName' && (!model.sortAsc)" class="glyphicon glyphicon-triangle-bottom"></span> Last Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <form>
                <td><input ng-model="model.user.username" type="text" placeholder="username" id="full-width"></input></td>
                <td><input ng-model="model.user.password" type="password" placeholder="password" id="width-90"></input></td>
                <td><input ng-model="model.user.firstName" type="text" placeholder="first name" id="full-width"></input></td>
                <td><input ng-model="model.user.lastName" type="text" placeholder="last name" id="full-width"></input></td>
                <td>
                    <a role="button" ng-click="model.createUser(model.user)" class="glyphicon glyphicon-plus pull-left" id="big-icon" st></a>
                    <a role="button" ng-click="model.updateUser(model.user)" class="glyphicon glyphicon-ok pull-right" id="big-icon"></a>
                </td>
            </form>
        </tr>
        <tr ng-repeat="user in model.users">
            <form>
                <td>{{user.username}}</td>
                <td><input type="hidden" ></td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>
                    <a role="button" ng-click="model.deleteUser($index)" class="glyphicon glyphicon-remove pull-left" id="big-icon"></a>
                    <a role="button" ng-click="model.selectUser($index)" class="glyphicon glyphicon-pencil pull-right" id="big-icon"></a>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>