<div class="container">
    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <h1>Login</h1>
    <form name="loginForm" novalidate>
        <div ng-if="loginForm.$submitted && loginForm.$invalid" class="alert alert-danger" role="alert">
            Error Loggin In!!
        </div>
        <input name="username"
               type="text"
               class="form-control"
               placeholder="username"
               required
               ng-model="user.username"/>

        <div ng-show="loginForm.$submitted && loginForm.username.$invalid" class="elementErrorMsg">
            <span>*required field</span>
        </div>
        <input name="password"
               type="password"
               class="form-control"
               placeholder="password"
               required
               ng-model="user.password"/>
        <div ng-show="loginForm.$submitted && loginForm.username.$invalid" class="elementErrorMsg">
            <span>*required field</span>
        </div>
        <button name="loginButton"
                ng-click=" (submitted=true) && loginForm.$valid && model.login(user)"
                class="btn btn-primary btn-block">Login</button>
        <a class="btn btn-success btn-block"
           href="#/register">Register</a>
    </form>
    <!--<div>{{models.response}}</div>-->
</div>