<div class="container content">
    <h2>Register</h2>
    <div ng-if="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form name="registerForm" novalidate>
        <div ng-if="registerForm.$submitted &&
                    (registerForm.$invalid ||
                     registerForm.password.$modelValue != registerForm.verifypassword.$modelValue)" class="alert alert-danger" role="alert">
            Error Registration! Please check values.
        </div>

        <div>
            User Type:
            <select id="usertype"  ng-model="user.usertype" ng-dropdown required>
                <option ng-option value="Customer">Customer</option>
                <option ng-option value="Staff">Staff</option>
            </select>
        </div>
        <br>


        <div class="form-group">
            <input type="text"
                   class="form-control"
                   id="username"
                   name="username"
                   required
                   ng-model="user.username"
                   placeholder="username">
            <div ng-show="registerForm.$submitted && registerForm.username.$invalid" class="elementErrorMsg">
                <span>*required field</span>
            </div>
        </div>
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   id="password"
                   name="password"
                   required
                   ng-model="user.password"
                   placeholder="password">
            <div ng-show="registerForm.$submitted && registerForm.password.$invalid" class="elementErrorMsg">
                <span>*required field</span>
            </div>
        </div>
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   id="verifypassword"
                   name="verifypassword"
                   required
                   ng-model="user.verifypassword"
                   placeholder="verify password">
            <div ng-show="registerForm.$submitted && registerForm.verifypassword.$invalid" class="elementErrorMsg">
                <span>*required field</span>
            </div>
        </div>

        <div ng-if="registerForm.$submitted &&
                    registerForm.password.$modelValue != registerForm.verifypassword.$modelValue" class="elementErrorMsg">
            <span>*Passwords must match</span>
        </div>
        <div id="cash" ng-if="user.usertype == 'Customer'">
            <div >
                <div>
                    <input type="text" placeholder="Company Name" class="form-control"  ng-model="user.company"    />
                </div>
            </div>
        </div>

        <div ng-show="loginForm.$submitted && loginForm.username.$invalid" class="elementErrorMsg">
            <span>*required field</span>
        </div>
        <button class="btn btn-primary btn-block"
                ng-click="(submitted = true) &&
           registerForm.$valid &&
           registerForm.password.$modelValue == registerForm.verifypassword.$modelValue &&
           model.createUser(user)">Register</button>
        <a class="btn btn-danger  btn-block"
           href="#/login">Cancel</a>
    </form>

</div>