<div class="navbar navbar-inverse navbar-fixed-top" id ="my-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Customer Portal</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href='#about'>About us</a>
                <li><a href="#/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container text-center">
        <H1>MithunRamTex</H1>
        <p>Great Design is the Foundation of Great Business</p>
        <div class="btn-group bottomaligned">
            <p><a class='btn btn-info btn-lg ' href='#/login' role='button'>Login</a>
                <a class='btn btn-warning btn-lg ' href='#/register' role='button'>Signup</a></p>
        </div>
    </div>
</div>

<div class="container page about-us"></div>
<div class="container page">
    <section><div class="page-header" id="about" >
        <h2>About Us.</h2>
        <small>A Garment Industry that stores order information and displays your order status</small>
    </div>

        <table border="0">
            <div class="row aboutus">
                <div class="col-lg-4"><blockquote><p>Login with your credentials and find out about the progress of your company orders</p></blockquote></div>
                <div class="col-lg-4"><blockquote><p>The orders both in order and out order are entered by our staff for your company</p></blockquote></div>
                <div class="col-lg-4"><blockquote><p>Also you could check the location of your warehouse via google maps that is embedded in our website</p></blockquote><footer>Vineet Nair</footer></blockquote></div></div>
        </table></section>
</div>
