.inactive-link {
    pointer-events: none;
    cursor: default;
}
.form-horizontal .control-label
{
    text-align: left;
}

table
{
    max-width: none;
}

th
{
    background-color: #cacaca;
}

#center-icon
{
    text-align: center;
    font-size: x-large;
}

#big-icon
{
    font-size: x-large;
}

#hidden-icon
{
    font-size: x-large;
    visibility: hidden;
}

#full-width
{
    width: 100%;
}

#width-90
{
    width: 90%;
}

.field-operations {

    float: right;
}

.box {
    border: 1px red dotted;
}

.no-bullets-options {
    list-style: none;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.field-label {
    margin-bottom: 0px;
}