     <div class="container">
        <div ng-if="model.alert" class="alert alert-danger alert-dismissible" role="alert">
            <button ng-click="model.clear()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>FAILED!!</strong>{{model.alert}}
        </div>
        <h1>Login</h1>
        <form>
            <div class="form-group">
                <input ng-model="model.user.username"
                       type="text"
                       class="form-control"
                       placeholder="username"/>
            </div>
            <div class="form-group">
                <input ng-model="model.user.password"
                       type="password"
                       class="form-control"
                       placeholder="password"/>
                </div>
        </form>
        <a ng-click="model.login(model.user)"
           class="btn btn-primary btn-block">Login</a>
        <a ng-click="model.register()"
           class="btn btn-success btn-block">Register</a>
         <a href="/auth/facebook"
            class="btn btn-block btn-primary">
             <span class="fa fa-facebook"></span>
              Facebook
         </a>
    </div>
