<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="widget-list.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="nav-sidebar">
            <div class="navbar-header pull-left">
                <a class="navbar-brand">
                    Choose Widget
                </a>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid font-increase">
    <form class="widget-padding">
        <div class="form-group">
            <a href="widget-heading.html">Header
            </a>
        </div>

        <div class="form-group">
            <a href="#">
                Label
            </a>
        </div>

        <div class="form-group">
            <a href="#">
                HTML
            </a>
        </div>

        <div class="form-group">
            <a href="#">
                Text Input
            </a>
        </div>

        <div class="form-group">
            <a href="#">
                Link
            </a>
        </div>

        <div class="form-group">
            <a href="#">
                Button
            </a>
        </div>

        <div class="form-group">
            <a href="widget-image.html">
                Image
            </a>
        </div>

        <div class="form-group">
            <a href="widget-youtube.html">
                YouTube
            </a>
        </div>

        <div class="form-group">
            <a href="#">
                Data Table
            </a>
        </div>

        <div class="form-group">
            <a href="#">
                Repeater
            </a>
        </div>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-text pull-right">
        <a href="profile.html">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>

