<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="widget-list.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-header pull-left">
            <a class="navbar-brand">
                Youtube Widget Edit
            </a>
        </div>

        <div class="navbar-text pull-right">
            <a href="widget-list.html" class="navbar-link">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="title">Text</label>
            <input  class="form-control" id="title">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input  class="form-control" id="url" placeholder="https://www.youtube.com/embed/9mdJV5-eias">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input type="number" class="form-control" id="width">
        </div>
        <div class="form-group">
            <a class="btn btn-danger  btn-block"
               href="widget-list.html">Delete</a>
        </div>
    </form>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-text pull-right">
            <a href="profile.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </nav>
</div>
