<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="page-list.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="nav-sidebar">
            <div class="navbar-header pull-left">
                <a class="navbar-brand">
                    Widgets
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="widget-chooser.html">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div>
        <div class ="widget-position">
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>

        <div>
            <h1>GIZMODO</h1>
        </div>
    </div>

    <div>
        <div class ="widget-position">
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>

        <div>
            <h2>Tom Brady doubtful </h2>
        </div>
    </div>

    <div>
        <div class ="widget-position">
            <a href="widget-image.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div>
            <img src="http://cdnph.upi.com/sv/b/upi/UPI-9211475125250/2016/1/7b14a3364d1dea958796ccec05561d2b/New-England-Patriots-Julian-Edelman-coy-on-question-of-playing-QB.jpg" width="100%">
        </div>
    </div>

    <div>
        <div class ="widget-position">
            <a href="#">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div>
            <p>
                The New England Patriots are about to find out if having two Gronkowskis on the roster is better than having one.
            </p>
        </div>
    </div>

    <div>
        <div class ="widget-position">
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div>
            <h2>Kabali sets record </h2>
        </div>
    </div>

    <div>
        <div class="widget-position">
            <a href="widget-youtube.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div class="youtube-widget">
            <iframe src="https://www.youtube.com/embed/9mdJV5-eias"></iframe>
        </div>
    </div>

    <div>
        <div class ="widget-position">
            <a href="#">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div>
            <p>
                The much-awaited trailer of Superstar Rajnikanth starring “Kabali” was released on
                Sunday with the actor appearing as a salt and pepper styled gangster along with a host
                of other actors including Radhika Apte who plays opposite to “Thalaivar”.
            </p>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-text pull-left">
        <a href="#">
            <span class="glyphicon glyphicon-play"></span>
        </a>
    </div>

    <div class="navbar-text pull-left">
        <a href="#">
            <span class="glyphicon glyphicon-eye-open"></span>
        </a>
    </div>

    <div class="navbar-text pull-right">
        <a href="profile.html">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>

