<h1 class="page-header">Forms : Registration Form</h1>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="#/forms">Forms</a></li>
    <li role="presentation" class="active"><a href="#/fields">Fields</a></li>
</ul>
<br>

<form class="form-horizontal">
    <div sortable sortable-callback="model.sortFields(start, end)">
        <div ng-repeat="field in model.fields" ng-switch="field.type">
            <div ng-switch-when="TEXT">
                <div class="form-group">
                    <label class="col-sm-2 ">{{field.label}}:</label>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="{{field.placeholder}}">
                    </div>
                    <div class="col-md-3 field-operations">
                        <a role="button" class="glyphicon glyphicon-align-justify pull-right" id="big-icon"></a>
                        <a role="button" ng-click="model.removeField($index)" class="glyphicon glyphicon-remove pull-right" id="big-icon"></a>
                        <a role="button" class="glyphicon glyphicon-plus pull-right" id="big-icon"></a>
                        <a role="button" ng-click="model.selectField($index)" class="glyphicon glyphicon-pencil pull-right" id="big-icon"></a>
                    </div>
                </div>
            </div>

            <div ng-switch-when="EMAIL">
                <div class="form-group">
                    <label class="col-sm-2 ">{{field.label}}:</label>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <input type="email" class="form-control" placeholder="{{field.placeholder}}">
                    </div>
                    <div class="col-md-3 field-operations">
                        <a role="button" class="glyphicon glyphicon-align-justify pull-right" id="big-icon"></a>
                        <a role="button" ng-click="model.removeField($index)" class="glyphicon glyphicon-remove pull-right" id="big-icon"></a>
                        <a role="button" class="glyphicon glyphicon-plus pull-right" id="big-icon"></a>
                        <a role="button" ng-click="model.selectField($index)" class="glyphicon glyphicon-pencil pull-right" id="big-icon"></a>
                    </div>
                </div>
            </div>

            <div ng-switch-when="TEXTAREA">
                <div class="form-group">
                    <label class="col-sm-2 ">{{field.label}}:</label>
                </div>
                <div class="form-group row">
                    <div class="col-md-4">
                        <textarea class="form-control" placeholder="{{field.placeholder}}"></textarea>
                    </div>
                    <div class="col-md-3 field-operations">
                        <a role="button" class="glyphicon glyphicon-align-justify pull-right" id="big-icon"></a>
                        <a role="button" ng-click="model.removeField($index)" class="glyphicon glyphicon-remove pull-right" id="big-icon"></a>
                        <a role="button" class="glyphicon glyphicon-plus pull-right" id="big-icon"></a>
                        <a role="button" ng-click="model.selectField($index)" class="glyphicon glyphicon-pencil pull-right" id="big-icon"></a>
                    </div>
                </div>
            </div>

            <div ng-switch-when="DATE">
                <div class="form-group">
                    <label class="col-sm-2 ">{{field.label}}:</label>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <input type="date" class="form-control" value="{{field.placeholder}}">
                    </div>
                    <div class="col-md-3 field-operations">
                        <a role="button" class="glyphicon glyphicon-align-justify pull-right" id="big-icon"></a>
                        <a role="button" ng-click="model.removeField($index)" class="glyphicon glyphicon-remove pull-right" id="big-icon"></a>
                        <a role="button" class="glyphicon glyphicon-plus pull-right" id="big-icon"></a>
                        <a role="button" ng-click="model.selectField($index)" class="glyphicon glyphicon-pencil pull-right" id="big-icon"></a>
                    </div>
                </div>
            </div>

            <div ng-switch-when="OPTIONS">
                <div class="form-group">
                    <label class="col-sm-2 field-label">{{field.label}}:</label>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <select id="full-width">
                            <option ng-repeat="option in field.options" value="{{option.value}}">{{option.label}}</option>
                        </select>
                    </div>
                    <div class="col-md-3 field-operations">
                        <a role="button" class="glyphicon glyphicon-align-justify pull-right" id="big-icon"></a>
                        <a role="button" ng-click="model.removeField($index)" class="glyphicon glyphicon-remove pull-right" id="big-icon"></a>
                        <a role="button" class="glyphicon glyphicon-plus pull-right" id="big-icon"></a>
                        <a role="button" ng-click="model.selectField($index)" class="glyphicon glyphicon-pencil pull-right" id="big-icon"></a>
                    </div>

                </div>
            </div>

            <div ng-switch-when="CHECKBOXES">
                <div class="form-group">
                    <label class="col-sm-2 field-label">{{field.label}}:</label>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <ul class="no-bullets-options" ng-repeat="option in field.options">
                            <li><input type="checkbox" value="option.value"> {{option.label}}</li>
                        </ul>

                    </div>
                    <div class="col-md-3 field-operations">
                        <a role="button" class="glyphicon glyphicon-align-justify pull-right" id="big-icon"></a>
                        <a role="button" ng-click="model.removeField($index)" class="glyphicon glyphicon-remove pull-right" id="big-icon"></a>
                        <a role="button" class="glyphicon glyphicon-plus pull-right" id="big-icon"></a>
                        <a role="button" ng-click="model.selectField($index)" class="glyphicon glyphicon-pencil pull-right" id="big-icon"></a>
                    </div>

                </div>
            </div>

            <div ng-switch-when="RADIOS">
                <div class="form-group">
                    <label class="col-sm-2 ">{{field.label}}:</label>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <ul class="no-bullets-options" ng-repeat="option in field.options">
                            <li><input type="radio" name="license" value="option.value"> {{option.label}}</li>
                        </ul>
                    </div>
                    <div class="col-md-3 field-operations">
                        <a role="button" class="glyphicon glyphicon-align-justify pull-right" id="big-icon"></a>
                        <a role="button" ng-click="model.removeField($index)" class="glyphicon glyphicon-remove pull-right" id="big-icon"></a>
                        <a role="button" class="glyphicon glyphicon-plus pull-right" id="big-icon"></a>
                        <a role="button" ng-click="model.selectField($index)" class="glyphicon glyphicon-pencil pull-right" id="big-icon"></a>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <hr>

    <div class="form-group">
        <label class="col-sm-2 ">Add New Field:</label>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <select ng-model="model.fieldType" id="full-width">
                <option value="TEXT">Single Line Text</option>
                <option value="DATE">Date</option>
                <option value="OPTIONS">Dropdown</option>
                <option value="CHECKBOXES">Checkboxes</option>
                <option value="RADIOS">Radio buttons</option>
                <option value="TEXTAREA">Paragraph Text Field</option>
            </select>
        </div>
        <a role="button" class="glyphicon glyphicon-align-justify pull-right" id="hidden-icon"></a>
        <a role="button" class="glyphicon glyphicon-remove pull-right" id="hidden-icon"></a>
        <a role="button" ng-click="model.addField(model.fieldType)" class="glyphicon glyphicon-plus pull-right" id="big-icon"></a>
        <a role="button" class="glyphicon glyphicon-pencil pull-right" id="hidden-icon"></a>
    </div>
</form>
