<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/company" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                ORDERS LIST
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/company/{{model.companyId}}/order/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid content">
    <ul class="list-group">
        <li ng-repeat="order in model.orders" class="list-group-item">
            <a href="#/user/{{model.userId}}/company/{{order._company}}/order/{{order._id}}/orderdetails">
                {{order.description}}
            </a>
            <a href="#/user/{{model.userId}}/company/{{order._company}}/order/{{order._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <a href="#/user/{{model.userId}}/company/{{order._company}}/order/{{order._id}}/orderdetails/new" class="pull-right order">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <br>
            <a class="btn btn-success pull-right"
               href="#/user/{{model.userId}}/company/{{order._company}}/order/{{order._id}}/orderstatus">Update Order Status</a>
            <br><br>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>