<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/company/{{model.companyId}}/order" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                SUMMARY
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid content">
    <table class="table">
        <thead >
        <tr>
            <th class="col-md-2">Order Name</th>
            <th class="col-md-2">Actual Weight Ordered</th>
            <th class="col-md-2">PDC Weight Ordered</th>
            <th class="col-md-2">Type of Order</th>
            <th class="col-md-2">Order Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in model.orders">
            <td>{{model.orderName.description}}</td>
            <td>{{order.actualWeight}}</td>
            <td>{{order.pdcWeight}}</td>
            <td>{{order.ordertype}}</td>
            <td>{{model.orderName.orderstatus}}</td>
        </tr>
        </tbody>
    </table>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>